
<div class="row col-12">
  <div class="col-3 container-badges">
    <div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

<div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>

<div class="demo-section">
Button with a badge on the left
<button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="before" matBadgeColor="accent">
  Action
</button>
</div>

<div class="demo-section">
  Button toggles badge visibility
  <button mat-raised-button matBadge="7" matBadgeHidden="hidden" (click)="toggleBadgeVisibility()">
      Hide
  </button>
</div>
  </div>



<div class="col-6 container-input d-flex justify-content-center">
  <div class="col-6">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control n1" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control n2" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control n3" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control n4" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control n5" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
  </div>
</div>

</div>