
.contenedor{
  display: block;
  margin: 5%;
  padding: 8px;
  border: 2px solid rgb(51, 117, 115);
  box-shadow: 3px 3px 8px 3px rgb(179, 254, 251) inset;

}
table {
  width: 30%;
  height: auto;

}
