

<main class="main">

  <!-- @if (shouldRun) { -->
    <mat-sidenav-container class="example-container">
      <mat-sidenav opened mode="side">Start content</mat-sidenav>
      <mat-sidenav opened mode="side" position="end">End content</mat-sidenav>
      Implicit main content
    </mat-sidenav-container>
  <!-- } @else {
    <div>Results</div>
  } -->

  <div class="content row col-12">
    <div class="col-12">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
    </div>
    <div class="mi-component col-12 mb-5">
      <mat-slide-toggle>Toggle me!</mat-slide-toggle>
    </div>
    <div class="badges-component m-4">
      <app-badges-position></app-badges-position>
    </div>
  </div>  
  <div class="col-6">
    <!-- <qrcode [qrdata]="'https://www.ejemplo.com'"></qrcode> -->
  </div>
  <div class="mt-5">
    <app-table-responsive></app-table-responsive>

  </div>
</main>

<router-outlet />
